// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Base
// =================================================================

html {
	font-size: 1.625em;
}

body {

}

::-moz-selection { 
	background: $colorTwo; 
	color: #fff; 
}
::selection { 
	background: $colorTwo; 
	color: #fff; 
}

a {
	cursor: pointer;
}