// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Colors
// =================================================================

	$colorWhite: #FFF;

	$colorOne: #7f2e92;
	$colorTwo: #b21e8d;
	$colorThree: #9bbb59;
	$colorFour: #f7f7f7;
	$colorType: #757575;

	.bg-one {
		background: $colorOne;
	}

	.bg-two {
		background: $colorTwo;
	}

	.bg-three {
		background: $colorThree;
	}

	.bg-four {
		background: $colorFour;
	}