// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Subordinate
// =================================================================

.about-person {
	width: 100%;
	background: $colorFour;
	padding-top: 50px;
	overflow: hidden;
	position: relative;
	height: 500px;

	.grid-container {
		height: 100%;
	}

	h5 {
		font-weight: $light;
		color: $colorType;
	}

	p {
		margin-top: 27px;
	}

	ul {
		margin-top: 23px;
		display: block;
		padding-bottom: 50px;
	}

	ul li {
		list-style-type: none;
		float: left;
		margin-right: 20px;
	}

	img {
		width: 30.66667%;
		position: absolute;
		bottom: 0px;
	}

	&:nth-child(odd) {
		background: #fff;

		.col-4 {
			left: 0;
		}
	}

	@include mq("medium", "max-width") {
		padding: 25px 10px 0 10px;
		height: 450px;
		box-sizing: border-box;

		h2 {
			font-size: 1.4em;
		}

		p {
			font-size: 0.7em;
		}

		ul li {
			margin-right: 15px;
			margin-top: 8px;
		}
	}

	@include mq("small", "max-width") {
		box-sizing: border-box;
		padding-top: 25px;
		height: 200px;
		padding: 40px 10px 0 10px;

		h2 {
			font-size: 1.1em;
		}

		h5 {

		}

		p {
			display: none;
		}

		ul li {
			font-size: 0.8em;
		}
	}

	@include mq("nano", "max-width") {
		font-size: 0.9em;
		padding-top: 20px;
		height: 150px;

		h2 {
			font-size: 1em;
		}

		ul {
			margin-top: 7px;
			font-size: 0.8em;
		}
	}
}

.news-item {
	
	.row {
		padding: 50px 0;
		border-bottom: 1px solid $colorFour;

	}

	a.link-btn-2 {
		position: absolute;
		bottom: 50px;
	}

	@include mq("medium", "max-width") {
		padding: 0 10px;
		box-sizing: border-box;

		h5 {
			font-size: 0.85em;
		}

		p {
			margin-top: 20px;
			font-size: 0.8em;
		}
		
		.col-5 {
			display: none;
		}

		.col-7 {
			width: 100%;
		}

		p {
			display: block;
			margin-bottom: 30px;
		}

		a.link-btn-2 {
			position: relative;
			bottom: 0;
			margin-top: 50px;
		}
	}

}

.news-item:first-child .row {
	padding-top: 0;
}

.why-contact {
	background: $colorFour;
	margin-top: 30px;
	padding: 85px 0;

	h2 {
		text-align: center;
	}

	a {
		display: block;
		margin: 0 auto;
		margin-top: 35px;
	}
}

.contact-details {
	@include mq("medium", "max-width") {
		padding: 0 10px;
		box-sizing: border-box;
		
		.col-4 {
			width: 90%;
		}

		h5 {
			padding-top: 0.5em;
		}

		.col-4:last-child {
			display: none;
		}
	}

	@include mq("small", "max-width") {
		
		h5, p {
			font-size: 0.8em;
		}

	}

	@include mq("nano", "max-width") {
		
		h5, p {
			font-size: 0.7em;
		}
		
	}
}

#map {
	width: 100%;
	height: 450px;
	margin-bottom: 50px;

	@include mq("small", "max-width") {
		margin-bottom: 25px;
		height: 375px;
	}
}