// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Subordinate
// =================================================================

.about-person {
	width: 100%;
	background: $colorFour;
	padding-top: 50px;
	overflow: hidden;
	position: relative;
	height: 500px;

	.grid-container {
		height: 100%;
	}

	h5 {
		font-weight: $light;
		color: $colorType;
	}

	p {
		margin-top: 27px;
	}

	ul {
		margin-top: 23px;
		display: block;
		padding-bottom: 50px;
	}

	ul li {
		list-style-type: none;
		float: left;
		margin-right: 40px;
	}

	img {
		width: 30.66667%;
		position: absolute;
		bottom: 0;
	}

	&:nth-child(odd) {
		background: #fff;

		.col-4 {
			left: 0;
		}
	}
}

.news-item {
	
	.row {
		padding: 50px 0;
		border-bottom: 1px solid $colorFour;

	}

	a.link-btn-2 {
		position: absolute;
		bottom: 50px;
	}

}

.news-item:first-child .row {
	padding-top: 0;
}