// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Pages
// =================================================================

.typography-page {
	margin: 0;
	padding: 50px 0;
	background: #fff;

	h1, h2, h3, h4 {
		margin: 0.5em 0 0.5em;
	}
}