// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Footer
// =================================================================

footer {
	width: 100%;
	padding: 50px 0 0 0;
	background: $colorOne;

	h5, p, a {
		font-size: 0.8em;
		color: #fff;
		font-weight: $light;
	}

	a {
		font-size: 1em;
	}

	.footer-bottom {
		margin-top: 35px;
		height: 52px;
		width: 100%;
		background: #0c0c0c;
	}
}