// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Header
// =================================================================

header {
	border-top: 4px solid $colorOne;

	.header-logo {
		padding-top: 40px;
		display: block;
	}

	li {
		list-style-type: none;
		float: left;
		margin: 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
	}

	.cta-nav {
		clear: both;
		float: right;
	}

	.shop-nav {
		font-size: 0.6em;
		border: 1px solid #dfdfdf;
		border-top: 0;
		width: initial;
		background: #f7f7f7;
		border-radius: 0 0 3px 3px;
		padding: 9px 0;
		height: auto;
		overflow: auto;
		float: right;
		margin-bottom: 42px;

		li {
			padding: 0;
			padding-left: 20px;
		}

		li:last-child {
			padding-right: 20px;
		}

		li.mobile-show {
			display: none;
		}

		a {
			color: $colorType;
		}

		a:hover {
			color: $colorOne;
		}
	}

	.nav-right {
		float: right;

		li:hover {
			border-bottom: 0;
		}

		.facebook {
			background: url('../img/facebook.svg');
			background-repeat: no-repeat;
			display: block;
			width: 30px;
			height: 30px;
			background-size: 100% 100%;
		}

		.twitter {
			background: url('../img/twitter.svg');
			background-repeat: no-repeat;
			display: block;
			width: 30px;
			height: 30px;
			background-size: 100% 100%;
		}

		.basket {
			display: inline-block;
		}

		.basket:after {
			content: "";
			background: url('../img/basket.svg');
			background-repeat: no-repeat;
			display: inline-block;
			width: 30px;
			height: 19px;
			vertical-align: -4px;
			padding-top: 4px;
			margin: 3px 15px 0 10px;
			background-size: 100% 100%;
		}

		li {
			margin: 0;
		}
	}

	h5 {
		padding-right: 45px;
	}

	nav {
		margin-top: 40px;
		height: 40px;
		width: 100%;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		padding: 10px 0 0px 0;
		overflow: visible;
		background: #f7f7f7;

		li {
			padding: 0 8px 12px 8px;
			margin: 0 8px;
			position: relative;
		}

		a {
			color: $colorType;
			font-size: 0.75em;	
			font-weight: $regular;
			text-align: center;
			@include transition(all, 0.2s, ease-in-out);
		}

		.dropdown a:after {
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-left: 10px;
			background: url('../img/nav_trigger.svg');
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}

		li:first-child {
			margin-left: -8px;
		}

		li.active, li:hover {
			border-bottom: 3px solid $colorTwo;
		}

		li.active a, li:hover a {
			color: $colorTwo;
		}

		.dropdown.active a:after, .dropdown:hover a:after {
			background: url('../img/nav_trigger_active.svg');
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}

		// This resets psuedo styling on dropdown items

		li.hover ul li { 
			border-bottom: 0;
		}

		li:hover ul li a {
			color: $colorType; 
		}

		.dropdown ul li a:after {
			display: none;
		}

		.mobile-trigger {
			display: none;
		}

		// DropDown specfic styling 

		ul li ul {
			background: $colorFour;
			width: intrinsic;
			display: block;
			@include border-radius(0 0 7px 7px);
			height: auto;
			position: absolute;
			left: 0;
			top: 42px;
			opacity: 0;
			z-index: 10;
			width: 160px; // Had to add fixed width 
			@include transition(all, 0.2s, ease-in-out);
		}

		ul li ul li {
			clear: both;
			float: none;
			display: block;
			height: auto;
			width: intrinsic;
			padding: 15px;
			font-size: 0.8em;
			margin: 0;

			&:first-child {
				padding-bottom: 0;
				margin-left: 0px; 
			}

			&:hover {
				border-bottom: 0;
			}

			&:hover a {
				color: $colorTwo;
			}
		}

		li.dropdown:hover ul {
			opacity: 1;
		}
	}

	@include mq("medium", "max-width") {

		.mobile-hide {
			display: none;
		}

		.header-logo {
			margin-left: 15px;
			padding-bottom: 40px;
		}

		.col-6 {
			width:(100% / 1.5) - ($grid-spacing * 4 / 12); 
		}

		.grid-container {
			padding: 0;
		}

		.col-right {
			width: 100%;
			margin-right: 0;
		}

		.mobile-trigger {
			width: 40px;
			height: 40px;
			cursor: pointer;
			background: url('../img/burger.svg');
			background-repeat: no-repeat;
			background-size: 100% 100%;
			float: right;
			margin-top: 55px;
			margin-right: 15px;
			display: block;
		}

		nav.menu-active {
			display: block;
		}

		nav {
			height: auto;
			overflow: auto;
			display: none;
			border-top: 0;
			padding: 0;
			margin-top: 0;
			background: $colorFour;

			li {
				margin: 0;
				padding: 0;
				display: block;
			}

			.nav-right {
				width: 100%;

				li {
					width: 100%;
					float: left;
					clear: none;
					display: inline-block;
				}

				li a {
					width: 100%;
					display: block;
					padding: 11px 15px 13px 15px;
					border-bottom: 1px solid #dfdfdf;
				}

				li a.facebook, li a.twitter {
					display: none;
				}

				li a.basket:after {
					width: 21px;
					right: 0px;
					position: absolute;
				}
			}

			.dropdown a:after {
				position: absolute;
				@include transition(all, 0.2s, ease-in-out);
				@include transform(rotate(180deg));
				right: 15px;
				width: 15px;
				top: 23px;
			}

			li a {
				border-top: 1px solid #dfdfdf;
				width: 100%;
				padding: 15px;
				display: block;
				text-align: left;
			}

			li:first-child {
				margin-left: 0;
			}

			li.active, li:hover {
				border-bottom: 0;
			}

			li.active a, li:hover a {
				color: $colorType;
			}

			li.active a, li:hover a {
				color: $colorType;
			}

			.dropdown.active a:after, .dropdown:hover a:after {
				background: url('../img/nav_trigger.svg');
				background-repeat: no-repeat;
				background-size: 100% 100%;
			}

			ul li {
				clear: both;
				width: 100%;
			}

			ul li ul {
				display: block;
				top: 0;
				width: 100%;
				opacity: 1;
				position: relative;
				background: none;
				display: none;
			}

			ul li ul.dd-active {
				display: block;
			}

			.dd-active.dropdown a:after {
				@include transform(rotate(0deg));
			}

			ul li ul li {
				font-size: 1em;
				width: 100%;
				padding: 0;
				padding: 0px;
			}

			ul li ul li a {
				border-top: 1px solid #dfdfdf;
				width: 100%;
			}
		}

		.shop-nav {
			width: 100%;
			margin-bottom: 0;
			box-sizing: border-box;
			padding: 9px 15px; // Container is 15 on mobile

			li {
				float: right;
				margin-right: 0px;
				padding-left: 0;
			}

			li.mobile-show {
				display: block;
				float: left;
				margin-right: 15px;
			}

			a.telephone:before {
				content: "";
				display: inline-block;
				width: 6px;
				height: 13px;
				margin-right: 12px;
				background: url('../img/phone_icon.png');
				background-repeat: no-repeat;
				background-size: 100% 100%;
			}

			a.email:before {
				content: "";
				display: inline-block;
				width: 15px;
				height: 10px;
				margin-right: 12px;
				background: url('../img/email_icon.png');
				background-repeat: no-repeat;
				background-size: 100% 100%;
			}

			li a {
				
			}
		}
	}

	@include mq("small", "max-width") {

		.col-6 {
			width:(100% / 1.333333333333333) - ($grid-spacing * 3 / 12); 
		}

		.col-right {
			width: 100%;
			margin-right: 0;
		}
		
		.mobile-trigger {
			width: 30px;
			height: 30px;
		}

	}

	@include mq("nano", "max-width") {

		.header-logo {
			padding-top: 30px;
			padding-bottom: 30px;
		}
 
		.shop-nav li a {
			font-size: 0.9em;
		}
		
		.mobile-trigger {
			margin-top: 35px;
			width: 30px;
			height: 30px;
		}

		.shop-nav li a.telephone:before {
			margin-right: 3px;
		}

		.shop-nav li a.email:before {
			margin-right: 3px;
		}
	}
}