// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Links
// =================================================================

.link-btn-2 {
	width: intrinsic;
	background: $colorOne;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 9px 26px;
	@include border-radius(10px);
	cursor: pointer;
	@include transition(all, 0.2s, ease-in-out);

	&:hover {
		background: $colorTwo;
	}

	@include mq("small", "max-width") {
		padding: 7px 15px;
	}
}

.link-btn-3 {
	color: $colorOne;
	display: block;

	&:after {
		display: inline-block;
		content: "";
		width: 30px;
		margin-left: 15px;
		height: 20px;
		background-image: url('../img/arrow_purple.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: 0 2px;
	}
}

.link-btn-4 {
	border: 1px solid #e8e8e8;
	text-align: center;
	font-size:0.9em;
	box-sizing: border-box;
	padding: 15px 0;
	display: block;
	@include border-radius(5px);
	@include transition(all, 0.2s, ease-in-out);

	&.active {
		background: $colorOne;
		border: 1px solid $colorOne;
		color: #fff;

		&:hover {
			background: $colorOne;
			border: 1px solid $colorOne;
			color: #fff;
		}
	}

	&:hover {
		border: 1px solid $colorOne;
		color: $colorOne;
	}

}

.link-plus {
	color: $colorOne;
	font-size: 0.9em;
	display: block;
	margin-top: 20px;
	overflow: visible;

	&:after {
		display: inline-block;
		content: "";
		width: 20px;
		margin-left: 15px;
		box-sizing: content-box;
		height: 20px;
		overflow: visible;
		background-image: url('../img/accordian_open.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: 0;
	}

	&.active:after {
		background-image: url('../img/accordian_close.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}

.link-facebook {
	display: block;
	background-image: url('../img/linkedin.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 35px;
	height: 35px;

	@include mq("small", "max-width") {
		width: 25px;
		height: 25px;
	}
}

.link-linkedin {
	display: block;
	background-image: url('../img/facebook.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 35px;
	height: 35px;

	@include mq("small", "max-width") {
		width: 25px;
		height: 25px;
	}
}