// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Patterns
// =================================================================


.pattern-header {
	width: 100%;
	background: $colorOne;
	padding: 90px 0 40px 0;

	h2.underline {
		color: #fff;
		border-bottom: 5px solid $colorTwo;
	}
}

.pattern-courses {
	height: auto;
	width: 100%;

	a.link-course-box {
		float: left;
		background: $colorFour;
		box-sizing: border-box;
		width: 33.3%;
		display: block;
		@include aspect-ratio(8, 6);
		margin-bottom: 80px;

		&:nth-child(2) .title {
			background: $colorTwo;
		}
	}

	a img {
		width: 100%;
	}

	.title {
		box-sizing: border-box;
		width: 100%;
		padding: 15px 20px;
		background: $colorOne;
		position: absolute;
		bottom: 0;

		h5 {
			color: #fff;
		}
	}
}



.pattern-description {
	padding: 75px 0;
}